	<a href="https://github.com/akuksin/noetl">
		<img style="position: fixed; top: 45px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
	</a>
	<div id="navbar" class="navbar navbar-inverse navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="logo">
					<img height="48" width="48" src="static/noetl_logo.png">
				</a>
				<a class="navbar-brand" href="./index.html">noetl</a>
			</div>
			<div class="collapse navbar-collapse nav-collapse">
				<ul class="nav navbar-nav">
					<li class="divider-vertical"></li>
					<li>
						<a href="quickstart.html">Getting Started</a>
					</li>
					<li>
						<a href="documentation.html">Documentation</a>
					</li>
					<li>
						<a href="roadmap.html">What's Next</a>
					</li>

				</ul>

		</div>
	</div>
</div>