
.navbar-brand {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 24pt;
}
h1 {
	font-family: 'Ek Mukta', sans-serif;	
	padding-top:50px;

}
h2 {
	font-family: 'Ek Mukta', sans-serif;
}
.highlight {
	padding-top: 10px;
	padding-bottom: 10px;
}
footer {
	bottom:0;
	position: fixed;
	height:50px;
	background-color: #222;
	width:100%;
	padding: 15px;
	overflow:hidden;

}
.jumbotron {
	width:100%;
	padding:30px;
}
